body {
  background-color: #f8f3ea;
  font-family: "helvetica neue";
  font-weight: 200;
  color: #221f1f;
}

header {
    width: 480px;
    margin: auto;
}

article {
  width: 700px;
  margin: auto;
}

.flashy {
  font-family: "Trebuchet MS";
  font-style: italic;
  font-weight: 300;
  color: #C45858;
}

article p {
  line-height: 150%;
}

.best{
  color: #eba8bc;
  font-family: "Trebuchet MS";
  font-size: 120%;
  font-weight: bold;
  font-style: italic;
}
